.datepickercontainer {
  position: absolute;
  left: 10%;
  width: 22rem;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 1.25rem;
  box-shadow: 0 0 20px -3px #bbb;
  z-index: 10;
}

.calender {
  padding: 1vw 2vw;
}

table,
thead,
td,
tr {
  border: none !important;
  border-style: none !important;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
}

.table > :not(caption) > * > * {
  border-bottom: none !important;
}

.table > thead {
  margin-bottom: 0.5rem;
}

.day {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 16px;

  text-align: center;

  color: #474747 !important;
}

.date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.82rem;
  line-height: 16px;
  text-align: center;
  /* color: #838384 !important; */
  color: #263859;
  cursor: pointer;
  padding: 0.5rem 0.3rem;
}

.datediv {
  height: 1.4rem;
  width: 1.45rem;
  display: grid;
  place-items: center;
}

.in-prev-month,
.in-next-month {
  color: #8c8d8f;
}

.aaji {
  background: #ffffff !important;
  border: 1px solid #002bbe !important;
  border-radius: 8px !important;
  color: #002bbe !important;
}

.active {
  background-color: #1c02b3 !important;
  color: #fff !important;
  border-radius: 6px;
}

/* --------------header--------------------- */

.calenderheader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.75rem;
}

.calenderheaderleft {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.yearcontainer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.month,
.year {
  /* font-weight: 500;
  line-height: 1.2;
  font-size: 1.3rem;
 
  color: #575656; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 25px;
  color: #000000;
  margin-bottom: 0 !important;
  cursor: pointer;
}

.calenderheaderright {
  display: flex;
  gap: 1rem;
}

.arrow {
  height: 0.3rem;
}

.arrowicon {
  height: 1.3rem;
  cursor: pointer;
}

/* ----------------Months--------------- */

.monthscontainer {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  align-items: center;
}

.monththh {
  width: 49%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(244, 244, 244);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.monththh:hover {
  background-color: #56a1e8;
  color: #ffffff;
}

.monthactive {
  width: 49%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;

  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: rgb(202, 201, 201) !important;
}

.monthactive:hover {
  background-color: #56a1e8;
  color: #ffffff;
}
