.terms {
  background-image: linear-gradient(rgba(28, 2, 59, 0.8), rgba(28, 2, 59, 0.8)),
    url("/images/login-background.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 4rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.content {
  width: 500px;
  background: #fafafa;
  border-radius: 12px;
}
.contentheader {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}
.contentheader img {
  cursor: pointer;
}

.contentbody {
  padding: 1vw;
  height: 50vh;
  overflow-y: scroll;
}

.heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 20px;
  color: hsla(0, 0%, 7%, 0.8);
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  /* or 144% */

  color: rgba(18, 18, 18, 0.8);
}

.item {
  width: 100%;
  margin-top: 1.5vw;
}
.contentfooter {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}

.declinebtn {
  border: 1px solid #1c023b;
  filter: drop-shadow(1px 2px 32px rgba(0, 0, 0, 0.06));
  border-radius: 6;
  padding: 0.3vw 2vw;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  cursor: pointer;

  color: #1c023b;
}

.acceptbtn {
  background: #1c023b;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  border-radius: 6;
  padding: 0.3vw 2vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  cursor: pointer;

  color: #ffffff;
}
@media only screen and (max-width: 680px) {
  .content {
    height: 80vh;
    background: #fafafa;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
  }
  .contentbody {
    flex: 1;
    padding: 1.3rem;
  }

  .contentlastupdate {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .content {
    width: 95vw;
  }
}

@media only screen and (max-width: 395px) {
  .heading,
  .text {
    font-size: 14px;
  }
}
